#controlArea{
position:fixed;
background:grey;
height:800px;
width:275px;
float:left;}

#canvas{
background:green;
height:800px;
width:1200px;
}

#makeChicken{
height:75px;
width:75px;}

#makeFarm{
height:100px;
width:100px;
}

.chicken{
position:absolute;
height:50px;
width:50px;}



.farm{
position:absolute;
height:100px;
width:100px
}